@font-face {
  font-family: 'wadi';
  src:  url('../../fonts/wadi.eot');
  src:  url('../../fonts/wadi.eot') format('embedded-opentype'),
    url('../../fonts/wadi.ttf') format('truetype'),
    url('../../fonts/wadi.woff') format('woff'),
    url('../../fonts/wadi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



[class^="wadi-"], [class*=" wadi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wadi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .title {
    font-family: Roboto,Arial,Helvetica,Verdana,sans-serif;
  }
}


/*
  Make small tag for Wadi Addons
*/

#elementor-panel-elements {

  .elementor-element-wrapper {
    [class^="wadi-"]::after,
    [class*=" wadi-"]::after {
        content: "WA";
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000;
        content: "WA";
        border-radius: 8px;
        padding: 3px;
        font-family: Montserrat,Sans-serif;
        font-size: 10px;
        font-weight: 700;
        opacity: .4;
        /* padding: 1px; */
        position: absolute;
        right: 0.6em;
        top: 0.6em;
      }
  }
}


.wadi-accordion-wadi:before {
  content: "\e900";
  color: #556068;
}
.wadi-animted-text:before {
  content: "\e901";
}
.wadi-blockquote:before {
  content: "\e902";
  color: #556068;
}
.wadi-carousel:before {
  content: "\e903";
  color: #556068;
}
.wadi-carousel-2:before {
  content: "\e904";
  color: #556068;
}
.wadi-chart:before {
  content: "\e905";
  color: #556068;
}
.wadi-chart-2:before {
  content: "\e906";
  color: #556068;
}
.wadi-content-toggle:before {
  content: "\e907";
  color: #556068;
}
.wadi-content-toggle-wadi:before {
  content: "\e908";
  color: #556068;
}
.wadi-counter:before {
  content: "\e909";
}
.wadi-dual-heading:before {
  content: "\e90a";
  color: #556068;
}
.wadi-flip-box:before {
  content: "\e90b";
  color: #556068;
}
.wadi-gallery:before {
  content: "\e90c";
}
.wadi-gallery-grid:before {
  content: "\e90d";
  color: #556068;
}
.wadi-gallery-grid-2:before {
  content: "\e90e";
  color: #556068;
}
.wadi-image-accordion:before {
  content: "\e90f";
}
.wadi-image-accordion-2:before {
  content: "\e910";
}
.wadi-image-comparison:before {
  content: "\e911";
}
.wadi-image-comparison-2:before {
  content: "\e912";
}
.wadi-info-box:before {
  content: "\e913";
  color: #556068;
}
.wadi-lottie:before {
  content: "\e914";
}
.wadi-map:before {
  content: "\e915";
  color: #556068;
}
.wadi-map-pin:before {
  content: "\e916";
  color: #556068;
}
.wadi-media-carousel:before {
  content: "\e917";
  color: #556068;
}
.wadi-modal:before {
  content: "\e918";
}
.wadi-paypal-checkout:before {
  content: "\e919";
}
.wadi-paypal-donation:before {
  content: "\e91a";
}
.wadi-paypal-subscription:before {
  content: "\e91b";
}
.wadi-popout:before {
  content: "\e91c";
}
.wadi-popup:before {
  content: "\e91d";
}
.wadi-posts:before {
  content: "\e91e";
  color: #556068;
}
.wadi-posts-2:before {
  content: "\e91f";
  color: #556068;
}
.wadi-price-list:before {
  content: "\e920";
  color: #556068;
}
.wadi-price-list-1:before {
  content: "\e921";
  color: #556068;
}
.wadi-price-list-2:before {
  content: "\e922";
  color: #556068;
}
.wadi-price-table:before {
  content: "\e923";
  color: #556068;
}
.wadi-price-table-wadi:before {
  content: "\e924";
  color: #556068;
}
.wadi-table1:before {
  content: "\e925";
}
.wadi-tabs:before {
  content: "\e926";
  color: #556068;
}
.wadi-tabs-wadi:before {
  content: "\e927";
  color: #556068;
}
.wadi-testimonial:before {
  content: "\e928";
  color: #556068;
}
.wadi-testimonial-carousel:before {
  content: "\e929";
}
.wadi-testimonial-wadi:before {
  content: "\e92a";
  color: #556068;
}
.wadi-video:before {
  content: "\e92b";
}
.wadi-video-2:before {
  content: "\e92c";
}
