
.wadi-button-alignment-left {

    .wadi-button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

.wadi-button-alignment-tablet-left {

    .wadi-button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

.wadi-button-alignment-mobile-left {

    .wadi-button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

.wadi-button-alignment-right {

    .wadi-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.wadi-button-alignment-tablet-right {

    .wadi-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.wadi-button-alignment-mobile-right {

    .wadi-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.wadi-button-alignment-center {

    .wadi-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.wadi-button-alignment-tablet-center {

    .wadi-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.wadi-button-alignment-mobile-center {

    .wadi-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.wadi-button-alignment-justify {

    .wadi-button {
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            width: 100%;
        }
    }
}

.wadi-button-alignment-tablet-justify {

    .wadi-button {
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            width: 100%;
        }
    }
}

.wadi-button-alignment-mobile-justify {

    .wadi-button {
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            width: 100%;
        }
    }
}